{% extends 'base.html.twig' %}
{% block body %}
    {% if challengeData.haveDivisionMatch %}
        <div>division matches still in progress</div>
    {% else %}
        <a href="{{ path('challenge_play_of_display', {'challengeId': challengeId}) }}" target="_blank">go to play of</a>
    {% endif %}
    {# @var challengeDivisionData \App\DataObject\ChallengeDivisionData #}
    {% for challengeDivisionData in challengeData.challengeDivisions %}
        <div>
            {{ challengeDivisionData.name }} {% if challengeDivisionData.haveMatches() %}<button class="calculateAll btn btn-success">Calculate Division</button>{% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="col">Teams</th>
                        {% for team in challengeDivisionData.teams %}
                            <th class="col">{{ team.team.name }}</th>
                        {% endfor %}
                        <th class="col">Score</th>
                    </tr>
                </thead>
                {% for teamA in challengeDivisionData.teams %}
                    <tr>
                        <th class="col">{{ teamA.team.name }}</th>
                        {% for teamB in challengeDivisionData.teams %}
                            {% if teamA.id == teamB.id %}
                                <td>NO MATCH</td>
                            {% else %}
                                {# @var match \App\Entity\DivisionMatch #}
                                {% set match = challengeDivisionData.getMatch(teamA, teamB) %}
                                {% if match is not null %}
                                    <td>{% if match.teamAWin is null %}<button data-matchId="{{ match.id }}" class="matchCalculate btn btn-success" data-action="{{ path('division_match_calculate', {'matchId': match.id} ) }}">calculate</button>{% else %}{% if match.teamAWin %}1:0{% else %}0:1{% endif %}{% endif %}</td>
                                {% else %}
                                    {# @var match \App\Entity\DivisionMatch #}
                                    {% set match = challengeDivisionData.getMatch(teamB, teamA) %}
                                    <td>{% if match.teamAWin is null %}<button data-matchId="{{ match.id }}" class="matchCalculate btn btn-success" data-action="{{ path('division_match_calculate', {'matchId': match.id} ) }}">calculate</button>{% else %}{% if match.teamAWin %}0:1{% else %}1:0{% endif %}{% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ challengeDivisionData.getScore(teamA) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/division.js') }}"></script>
{% endblock %}